<header id="navbar">
  <div id="navbar-container" class="boxed">
    <!--Brand logo & name-->
    <div class="navbar-header">
		<a href="https://fooderia.in/index.php/admin" class="navbar-brand" style="    background: #fff;"> <img src="https://fooderia.in/uploads/logo_image/logo_79.png" alt="fooderia" class="brand-icon" style="padding: 10px;
    width: 50%;
    background: #fff;    margin-left: 25%;">
			  <div class="brand-title">
			<!-- 	<span class="brand-text">fooderia</span> -->
			  </div>
		</a>
	</div>
    <!--End brand logo & name-->
    <!--Navbar Dropdown-->
    <div class="navbar-content clearfix">
      <ul class="nav navbar-top-links pull-left">
        <!--Navigation toogle button-->
        <li class="tgl-menu-btn"> <a class="mainnav-toggle"> <i class="fa fa-navicon fa-lg"></i> </a> </li>
        <!--End Navigation toogle button-->
      </ul>
      <ul class="nav navbar-top-links pull-right">
        <!-- <li>
          <div class="lang-selected" style="margin-top:10px;">
                        <a href="https://fooderia.in/" target="_blank" class="btn btn-default"> <i class="fa fa-desktop"></i> Visit Home Page </a>
                      </div>
        </li> -->
        <li id="dropdown-user" class="dropdown">
			<a href="https://fooderia.in/template/back/#" data-toggle="dropdown" class="dropdown-toggle text-right"> 
				<span class="pull-right">
			  			  <img class="img-circle img-user media-object" src="https://fooderia.in/template/back/img/av1.png" alt="Profile Picture">
			  			  </span>
				<div class="username hidden-xs">
				FOODERIA FOODWORKS INDIA			  </div>
          	</a>
          <div class="dropdown-menu dropdown-menu-md dropdown-menu-right with-arrow panel-default">
            <!-- User dropdown menu -->
            <ul class="head-list">
              <li> <a href="https://fooderia.in/index.php/admin/manage_admin/"> <i class="fa fa-user fa-fw fa-lg"></i> Profile </a> </li>
            </ul>
            <!-- Dropdown footer -->
            <div class="pad-all text-right"> <a href="https://fooderia.in/index.php/admin/logout/" class="btn btn-primary"> <i class="fa fa-sign-out fa-fw"></i> Logout </a> </div>
          </div>
        </li>
        <!--End user dropdown-->
      </ul>
    </div>
  </div>
</header>