<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>fooderia</title>
<!--STYLESHEET-->
<!--=================================================-->
<!--Roboto Font [ OPTIONAL ]-->
<!--Bootstrap Stylesheet [ REQUIRED ]-->


<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/bootstrap.css">

<!-- jQuery library -->


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
<!-- Latest compiled JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!--Activeit Stylesheet [ REQUIRED ]-->
<link href="stylesheets/activeit.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/adminlte.min.js"></script>
<style>
	table td {
		font-size: 12px;
	}
	#mainnav-menu .fa {
		font-size: 12px;
	}
</style>
<!--Font Awesome [ OPTIONAL ]-->

</head>
<body class="activeit-ready" cz-shortcut-listen="true">
        <div id="container" class="effect mainnav-lg">
        <%- include('header') %>