<nav id="mainnav-container">
        <div id="mainnav">
            <!--Menu-->
            <div id="mainnav-menu-wrap">
                <div class="nano has-scrollbar">
                    <div class="nano-content" style="overflow-x: auto; right: -12px;" tabindex="0">
                        <ul id="mainnav-menu" class="list-group">
                            <!--Category name-->
                            <li class="list-header"></li>
                            <!--Menu list item-->
                            <li class="active-link" style="border-top:1px solid rgba(69, 74, 84, 0.7);">
                                <a href="https://fooderia.in/index.php/admin/">
                                    <i class="fa fa-tachometer"></i>
                                    <span class="menu-title">
                                        Dashboard                                </span>
                                </a>
                            </li>
                            
                                                    <!--Menu list item-->
                                <li id="productshow"> 
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-list"></i>
                                            <span class="menu-title">
                                                Products										</span>
                                            <i class="fa arrow"></i>
                                    </a>
                                
                    
                                    <!--PRODUCT-->
                                    <ul  id="showproduct" class="togglelist">
                                        
                                                                                    
                                            <li class="listitem">
                                                <a href="/category">
                                                    <i class="fa fa-circle fs_i"></i>
                                                        Category											</a>
                                            </li>
                                                                                    <li>
                                                    <a href="/subcategory">
                                                        <i class="fa fa-circle fs_i"></i>
                                                            Sub-category                                                </a>
                                                </li>
                                                                                    <li>
                                                <a href="https://fooderia.in/index.php/admin/product">
                                                    <i class="fa fa-circle fs_i"></i>
                                                        All Products											</a>
                                            </li>
                                                                        </ul>
                                </li>
                          
                            
                            <!--SALE-->
                                               <li>
                                <a href="/sales">
                                    <i class="fa fa-usd"></i>
                                        <span class="menu-title">
                                            Sale                                    </span>
                                </a>
                            </li>
    
                            <!--  <li >
                                <a href="https://fooderia.in/index.php/admin/sales/">
                                    <i class="fa fa-usd"></i>
                                        <span class="menu-title">
                                            Sale                                    </span>
                                </a>
                            </li> -->
                           
    
                                                    <li>
                                <a href="/location">
                                    <i class="fa fa-map-marker"></i>
                                        <span class="menu-title">
                                            Location                                    </span>
                                </a>
                            </li>
                                                    <li>
                                <a href="https://fooderia.in/index.php/admin/user/">
                                    <i class="fa fa-users"></i>
                                        <span class="menu-title">
                                            Customers                                    </span>
                                </a>
                            </li>
                                                                           
                                                         <li>
                                <a href="/discountcoupon">
                                    <i class="fa fa-tag"></i>
                                        <span class="menu-title">
                                            Discount Coupon                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-desktop"></i>
                                        <span class="menu-title">
                                            Frontend Settings                                    </span>
                                            <i class="fa arrow"></i>
                                </a>
                                <!--Submenu-->
                                <ul id="productcollapse">
                                    
                                                                    <li>
                                        <a href="#">
                                            <i class="fa fa-sliders"></i>
                                                <span class="menu-title">
                                                    Home Banner Settings                                            </span>
                                                    <i class="fa arrow"></i>
                                        </a>
                                        <ul class="collapse">
                                           
                                            <li>
                                                <a href="https://fooderia.in/index.php/admin/slides/">
                                                    <i class="fa fa-circle fs_i"></i>
                                                        Home Banner                                            </a>
                                            </li>
                                        </ul>
                                    </li>
                                                                                          
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-television"></i>
                                                <span class="menu-title">
                                                    Display Settings                                            </span>
                                                <i class="fa arrow"></i>
                                        </a>
                        
                                        <!--PRODUCT-->
                                        <ul class="collapse">
                                            <li>
                                                <a href="https://fooderia.in/index.php/admin/display_settings/contact">
                                                    <i class="fa fa-circle fs_i"></i>
                                                        Contact Page                                            </a>
                                            </li>
                                        </ul>
                                    </li>
                                                                    
                                                                    <li>
                                        <a href="#">
                                            <i class="fa fa-wrench"></i>
                                                <span class="menu-title">
                                                    Site Settings                                            </span>
                                                    <i class="fa arrow"></i>
                                        </a>
                                        <!--Submenu-->
                                        <ul class="collapse">
                                            
                                                                  
                                                <li>
                                                    <a href="https://fooderia.in/index.php/admin/site_settings/general_settings/">
                                                        <i class="fa fa-circle fs_i"></i>
                                                            General Settings                                                </a>
                                                </li>
                                                                                    
                                        </ul>
                                    </li>
                                                                    <li>
                                        <a href="https://fooderia.in/admin/upload_menu/">
                                            <i class="fa fa-television"></i>
                                                <span class="menu-title">
                                                    Upload Menu                                            </span>
                                                 
                                        </a>
                                        
                                    </li>
                                   </ul>
                            </li>
                                                                            <li>
                                <a href="#">
                                    <i class="fa fa-briefcase"></i>
                                        <span class="menu-title">
                                            Business Settings                                    </span>
                                            <i class="fa arrow"></i>
                                </a>
                                
                                <!--REPORT-->
                                <ul class="collapse">
                                    <li>
                                        <a href="https://fooderia.in/index.php/admin/faqs/">
                                            <i class="fa fa-circle fs_i"></i>
                                                Faqs                                    </a>
                                    </li>
                                </ul>
                            </li>
                                                    <li>
                                <a href="/manageadmin">
                                    <i class="fa fa-lock"></i>
                                    <span class="menu-title">
                                        Manage Admin Profile                                </span>
                                </a>
                            </li>
    
                             <li>
                                <a href="/manageappslider">
                                    <i class="fa fa-lock"></i>
                                    <span class="menu-title">
                                        Manage App Slider                                </span>
                                </a>
                            </li>
    
                            <li>
                                <a href="/userfeedback">
                                    <i class="fa fa-lock"></i>
                                    <span class="menu-title">
                                        User Feedback
                                    </span>
                                </a>
                            </li>
    
                           <!--  <li  >
                                <a href="https://fooderia.in/index.php/admin/manage_sales/">
                                    <i class="fa fa-lock"></i>
                                    <span class="menu-title">
                                       Manage Sales
                                    </span>
                                </a>
                            </li> -->
    
                             <li>
                                <a href="/addoffer">
                                    <i class="fa fa-lock"></i>
                                    <span class="menu-title">
                                       Add Offer
                                    </span>
                                </a>
                            </li>
    
    
    
    
    
                    </ul></div>
                <div class="nano-pane" style="display: block;"><div class="nano-slider" style="height: 20px; transform: translate(0px, 0px);"></div></div></div>
            </div>
        </div>
    </nav>
<script>
    $(document).ready(function(){
        $("#productshow").on('click', function(){
               setTimeout(() => {
                   $("#productshow li").show()
               }, 2000);
            })
    })
</script>
