<%- include('partials/main')%>
    <div id="content-container">	
          <div id="page-title">
              <h1 class="page-header text-overflow">Dashboard</h1>
          </div>
    <div class="col-sm-12">
        
    
            <div class="col-sm-3">
                    <div class="info-box bg-red">
                        <div class="col-sm-1" style="padding-left:0">    
                        <span class="info-box-icon"><i class="fa fa-users"></i></span>
                    </div>    
                        <div class="col-sm-2 info-box-content">
                              <h4>Users</h4>
                            <h4>100</h4>
                              <!-- The progress section is optional -->
                              <!-- /.info-box-content -->
                          </div>    
           
            </div>
            </div>   
            <div class="col-sm-3">
                    <div class="info-box bg-red">
                        <div class="col-sm-1" style="padding-left:0">    
                        <span class="info-box-icon"><i class="fa fa-user"></i></span>
                    </div>    
                        <div class="col-sm-2 info-box-content">
                              <h4>Customer</h4>
                            <h4>100</h4>
                              <!-- The progress section is optional -->
                              <!-- /.info-box-content -->
                          </div>    
           
            </div>
            </div>
            <div class="col-sm-3">
                    <div class="info-box bg-red">
                        <div class="col-sm-1" style="padding-left:0">    
                        <span class="info-box-icon"><i class="fa fa-anchor"></i></span>
                    </div>    
                        <div class="col-sm-2 info-box-content">
                              <h4>Feedback</h4>
                            <h4>50</h4>
                              <!-- The progress section is optional -->
                              <!-- /.info-box-content -->
                          </div>    
           
            </div>
            </div>
            <div class="col-sm-3">
                    <div class="info-box bg-red">
                        <div class="col-sm-1" style="padding-left:0">    
                        <span class="info-box-icon"><i class="fa fa-bookmark"></i></span>
                    </div>    
                        <div class="col-sm-2 info-box-content">
                              <h4>Offers</h4>
                            <h4>1</h4>
                              <!-- The progress section is optional -->
                              <!-- /.info-box-content -->
                          </div>    
           
            </div>
            </div> 
        
    </div>      
    </div>

          
<%- include('partials/allbottom.ejs') %>
